div.disabled {
  overflow-x: hidden; 
  overflow-y: scroll; 
}

/* .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/image0.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
} */


.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  background: url('./images/image0.jpg') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
}

.jumbotron-head{
  text-align: center;
  color: #61dafb;
  text-shadow: 2px 2px #282c34;
}

.jumbotron-text{
  text-align: center;
  color: black;
  text-shadow: 2px 2px white;
}

.jumbotron-intro {
  background: url('./images/image2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
}
.jumbotron-product {
  background: url('./images/image3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
}

.jumbotron-intro-head {
  text-align: center;
  color: #d1dadd;
  text-shadow: 2px 2px black;
}

.jumbotron-intro-text {
  text-align: center;
  color: #61dafb;
  text-shadow: 2px 2px #282c34;
}

.jumbo-bootom{
  margin-bottom: 2rem;
}

.nav-shadow {
  text-shadow: 1px 1px rgb(75, 84, 204);
}

.navbar-light .navbar-brand {
  color: #61dafb
}

.sticky-nav {
  position: sticky;
  top: 0;
}
.navbar-nav {
  padding-left:30px;
  padding-right:30px;
}

.jumbotron-product{
  color: #282c34;
  text-shadow: 1px 1px #61dafb;
}

.panel-footer{
  background-color:#44505a;
  border-color: #337ab7;
  color: #FFFFFF;

 }
.product-title-size{
  font-size: 1.5rem;
}

 .product-text-size{
   font-size: 1.2rem;
 }

 .google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
