div.disabled {
  overflow-x: hidden; 
  overflow-y: scroll; 
}


.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading{
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  background: url('./images/logo.jpeg') no-repeat center center;
  background-color: rgb(247, 247, 274);
  position: relative;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -o-background-size: 100%;
  height: 50vh;
}

.jumbotron-head{
  text-align: center;
  color: #61dafb;
  text-shadow: 2px 2px #282c34;
}

.jumbotron-text{
  text-align: center;
  color: black;
  text-shadow: 2px 2px white;
}

.jumbotron-intro {
  background: url('./images/image2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
}
.jumbotron-product {
  background: url('./images/blurimg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
}


.jumbotron-intro-head {
  opacity: 1.0;
  text-align: center;
  color: #d1dadd;
  text-shadow: 2px 2px black;
}

.jumbotron-intro-text {
  opacity: 1.0;
  text-align: center;
  color: #49e5f0;
  text-shadow: 2px 2px #424752;
}

.jumbo-bootom{
  margin-bottom: 2rem;
}

.nav-shadow {
  text-shadow: 1px 1px rgb(75, 84, 204);
}

.navbar-light .navbar-brand {
  color: #61dafb
}

.sticky-nav {
  position: sticky;
  top: 0;
}
.navbar-nav {
  padding-left:30px;
  padding-right:30px;
}

.jumbotron-product{
  color: #080808e3;
  text-shadow: 1px 1px #e8eff1;
}

.panel-footer{
  background-color:#44505a;
  border-color: #337ab7;
  color: #FFFFFF;

 }
.product-title-size{
  font-size: 1.5rem;
}

 .product-text-size{
   font-size: 1.2rem;
 }

 .google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 70% !important;
}

.button {
  margin: themeSpacing(1),
}

.container-product {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container-product .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
